  <div class="container">
    <div class="row row-content">
      <div class="col-xs-12 col-sm-6 col-lg-8">
          <h3>Как появилась компания</h3>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ullamcorper, dolor a convallis molestie, dui erat venenatis ex, eu molestie sapien velit a erat. In turpis sem, blandit nec consequat et, pretium ac tortor. Sed fermentum varius lacus, lobortis vestibulum lorem. Nullam justo diam, imperdiet a scelerisque at, accumsan vitae tortor. Sed quis libero a nisi fringilla condimentum ullamcorper id ante. Ut eu dolor sit amet nunc rutrum congue sed dapibus urna. Ut nec elementum est. Cras efficitur non lectus et commodo. Aenean eleifend porttitor lectus vitae semper. Maecenas diam elit, varius in augue vitae, vehicula ullamcorper diam. Duis sed lobortis leo.
          </p>
      </div>
    </div>
    <div class="row row-content">
      <div class="col-xs-12 col-sm-6 col-lg-8">
          <h3>Роль мебели в интерьере</h3>
          <p>
              Cras eu ipsum tortor. Sed aliquam vehicula ex at pharetra. Vivamus varius, lorem a sagittis faucibus, augue arcu vehicula risus, a convallis lorem erat at mi. Sed molestie ante quis est placerat, ac ullamcorper tellus porttitor. Mauris sit amet vehicula libero. Aliquam quis ultricies dui. Nunc et ligula tortor. Duis pretium nulla porta, volutpat nulla vitae, sagittis nulla. Cras sed ex egestas magna aliquam ultricies eu id nunc. Curabitur aliquam justo eleifend lobortis blandit.
          </p>
      </div>
    </div>
    <div class="row row-content">
      <div class="col-xs-12 col-sm-6 col-lg-8">
          <h3>Процесс изготовления и материалы</h3>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel-default">
              <div class="panel-heading" role="tab">
                  <h5 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#pan1"
                        aria-expanded="false" aria-controls="pan1">1) Встреча с дизайнером</a>
                  </h5>
              </div>
              <div class="panel-collapse collapse in" role="tabpanel" id="pan1">
                  <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>
              </div>
            </div>
            <div class="panel-default">
              <div class="panel-heading" role="tab">
                  <h5 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#pan2"
                        aria-expanded="false" aria-controls="pan2">2) Разработка модели</a>
                  </h5>
              </div>
              <div class="panel-collapse collapse" role="tabpanel" id="pan2">
                  <div class="panel-body">
                    <p>Curabitur quis quam vel sem condimentum dictum a eget urna.</p>
                  </div>
              </div>
            </div>
            <div class="panel-default">
              <div class="panel-heading" role="tab">
                  <h5 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#pan3"
                        aria-expanded="false" aria-controls="pan3">3) Изготовление</a>
                  </h5>
              </div>
              <div class="panel-collapse collapse" role="tabpanel" id="pan3">
                  <div class="panel-body">
                    <p>Duis ut tortor vestibulum, sagittis nulla at, sodales ex.</p>
                  </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
