  <div class="container">
    <div class="row row-content">
        <div class="col-xs-12">
            <h3>Информация о местоположении</h3>
        </div>
        <div class="col-xs-12 col-sm-11 col-sm-offset-1">
                <h4>Наш адресс:</h4>
                <address style="font-size: 100%">
		            ул. Васильковая 1, г. Москва<br>
		            ул. Ромашковая 1, г. Екатеринбург<br><br>
		            Москва <i class="fa fa-phone"></i>: +852 1234 5678<br>
		            Екб. <i class="fa fa-phone"></i>: +852 8765 4321<br>
		            <i class="fa fa-envelope"></i>:
                    <a href="mailto:armchair@gmail.com">armchair@gmail.com</a><br>
                    пн – пт с 9:00 до 19:00
		        </address>
        </div>
        <div class="col-xs-12 col-sm-11 col-sm-offset-1">
            <div class="btn-group" role="group" aria-label="...">
                <a type="button" class="btn btn-primary" href="tel:+85212345678"><i class="fa fa-phone"></i> Call</a>
                <a type="button" class="btn btn-info"><i class="fa fa-skype"></i> Skype</a>
                <a type="button" class="btn btn-success" href="mailto:armchair@gmail.com"><i class="fa fa-envelope-o"></i> Email</a>
            </div>
        </div>
    </div>
  </div>
