<!--<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Armchair: Liked</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap-social.css" rel="stylesheet">
    <link href="css/mystyles.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><img src="img/logo.png"  height=30 width=41/></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="index.html">Главная</a></li>
          <li><a href="contactus.html">Контакты</a></li>
          <li><a href="aboutus.html">О компании</a></li>
          <li class="active"><a href="#">Понравилось</a></li>
        </ul>
      </div>
    </div>
  </nav>-->
  <div class="container">
    <div class="row row-content" ng-controller='LikedController'>
        <div class="col-xs-12">
            <ul>
               <li class="col-xs-12 col-sm-6" ng-repeat="liked in likedOnes">
                 <img ng-src={{liked.image}} alt="test" class="img-responsive">
                 <div class="carousel-caption">
                    <h2>{{liked.name}} <span class="badge">{{liked.price | currency}}</span></h2>
                    <p>{{liked.description}}</p>
                 </div>
               </li>
            </ul>
        </div>
    </div>
    <div class="row row-content centered">
        <div class="col-xs-12">
            <h2>Что дальше?</h2><br>
            <h4>1) Назначьте встречу или звонок с нашим дизайнером</h4>
            Москва <i class="fa fa-phone"></i>: +852 1234 5678,<br>
            Екб. <i class="fa fa-phone"></i>: +852 8765 4321<br>
            <i class="fa fa-envelope"></i>:
            <a href="mailto:armchair@gmail.com">armchair@gmail.com</a><br><br>
            <h4>2) Есть вопросы? Напишите нам</h4>
        </div>
    </div>
    <div class="row row-content">
<!--        <div class="col-xs-12">
            <h4>2) Есть вопросы? Напишите нам</h4>
        </div>-->
        <div class="col-xs-12 col-sm-7 col-sm-offset-2" ng-controller="FeedbackController">
            <form class="form-horizontal" name="feedbackForm" ng-submit="sendFeedback()" novalidate>
                <div class="form-group" ng-class="{ 'has-error' : feedbackForm.emailid.$invalid && !feedbackForm.emailid.$pristine }">
                    <label for="emailid" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="emailid" name="emailid" placeholder="Адресс электронной почты"
                            ng-model="feedback.email" required>
                        <span ng-show="(feedbackForm.emailid.$invalid ||
                                        feedbackForm.emailid.$error.required) &&
                                        !feedbackForm.emailid.$pristine" class="help-block">Укажите действующий электронный адрес.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : feedbackForm.title.$error.required && !feedbackForm.title.$pristine }">
                    <label for="title" class="col-sm-2 control-label">Тема</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="title" name="title" placeholder="Тема вопроса"
                            ng-model="feedback.title" required>
                        <span ng-show="feedbackForm.title.$error.required && !feedbackForm.title.$pristine" class="help-block">Необходимо указать тему.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : feedbackForm.question.$error.required && !feedbackForm.question.$pristine }">
                    <label for="question" class="col-sm-2 control-label">Ваш вопрос</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="question" name="question" rows="12"
                            ng-model="feedback.question" required></textarea>
                        <span ng-show="feedbackForm.question.$error.required && !feedbackForm.question.$pristine" class="help-block">Введите текст вопроса.</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" ng-disabled="feedbackForm.$invalid">Отправить</button>
                    </div>
                </div>
            </form>
            {{message}}
        </div>
    </div>
  </div>
<!--</body>
</html>-->
